body {
  justify-content: center;
  align-items: center;
  width: 100%;

  h1 {
    position: relative;
    height: auto; 
    width: auto;
    text-align: center;
  }

  p {
    text-align: center;
  }
}
