footer {
  background-image: url(../../../assets/images/fundo-rodape.png);
  filter: invert(1);
  display: flex;
  gap: 0px 0px;
  grid-template-areas:
    "TextoCopyright LogoRodape .";
  align-items: center;
  padding: 1rem 2rem;
  justify-content: center;

  .LogoRodape {
    justify-self: center;
    grid-area: LogoRodape;
  }

  small {
    color: rgb(0, 0, 0);
  }

  @media (max-width: 768px) {
    footer {
      display: flex;
      flex-direction: column-reverse;
      gap: 1rem;
    }
  }
}
