.cabecalho {
  background: url(/assets/imagens/fundo-cabecalho.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .logo {
    width: 46%;
    padding: 2rem 3rem;

    img {
      width: 90%;
      max-width: 350px;
      margin-bottom: 2rem;
    }
  }

  & .imagem {
    width: 40%;
  }

  & p {
    font-size: 2rem;
    color: #6BD1FF;
  }

  @media (max-width: 576px) {
    .logo {
      padding: 2rem;

      p {
        font-size: 1.5rem;
      }
    }
  }

  @media (max-width: 768px) {
    .logo {
      width: 90%;
      
      .imagem {
        display: none;
      }
    }
  }
}
