.cabecalho {
  background-image: url(../../../assets/images/fundo-cabecalho.png);
  filter: invert(1);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 30%;
    padding: 2rem 3rem;
    justify-content: space-between;
    
    img {
      width: 30%;
      position: relative;
      bottom: 2rem;
      max-width: 350px;
      margin-bottom: 2rem;
      border-radius: 0 0 20px 20px;
    }

    .text-area{
      position: relative;
      bottom: 0;
      width: 100%;
      padding: 2rem 3rem;
      width: 100%;
    }

    p {
      left: 4rem;
      font-size: 1.4rem;
      color: #0000008a;
      filter: invert(1);
      font-style: oblique;
      top: 7rem;
    }
    
    strong{
      font-size: 2rem;
      color: #ffffff;
      font-style: initial;
    }
  }

  .imagem {
    width: 40%;
  }
  
  @media (max-width: 576px) {
    .logo {
      padding: 2rem;

      p {
        font-size: 1.5rem;
      }
    }
  }

  @media (max-width: 768px) {
    .logo {
      width: 90%;

      .imagem {
        display: none;
      }
    }
  }
}
