<header class="cabecalho ff-inter">
  <div class="logo">
    <img src="../../../assets/images/logo-alisson.png" alt="Logo da aplicação memoteca">
    <aside class="text-area">
      <p><strong>Capture the essence of melody!</strong> Jot down excerpts from your favorite songs that touch your
        soul.
      </p>
      <p><strong>Immerse yourself in the world of books!</strong> Keep quotes that inspire you and make you reflect.</p>
      <p><strong>Explore the universe of the mind!</strong> Record your deepest thoughts and brightest ideas. This is
        your
        space, a sanctuary for your inspirations.</p>
    </aside>
  </div>
  <img class="imagem" src="../../../assets/images/computador-cabecalho.png" alt="Imagem de um computador">
</header>
