@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap';

* {
  margin: 0;
  padding: 0;
}

.ff-inter {
  font-family: 'Inter', sans-serif;
}

.ff-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

h2 {
  color: #f3f3f3;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.header {
  margin: 1rem auto 2rem;
}

.container {
  padding: {
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
  }

  margin: {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

  @media (min-width: 576px) {
    width: 540px;
  }

  @media (min-width: 768px) {
    width: 720px;
  }

  @media (min-width: 992px) {
    width: 960px;
  }

  @media (min-width: 1200px) {
    width: 1140px;
  }
}

.botao {
  background: #154580;
  color: #ffffff;
  max-width: 270px;
  width: 250px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #154580;
  border-radius: 10px;
  transition: 0.5s ease;

  & :hover {
    border: 2px solid #84EEC1;
    color: #84EEC1;
  }
}
